<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="css/external.css" type="text/css"/>
        <meta charset="utf-8">
        <title>My Customer App</title>
        <script
          src="http://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>
          <script src="js/main.js">
          </script>
    </head>
    <body>
        <div id="indexList">
        <ul id="indexUL">
            <li id="indexLi"><a id="indexLiA" href="/">Index</a></li>
            <li id="indexLi"><a id="indexLiA" href="/viewPosts">View Posts</a></li>
            <li id="indexLi"><a id="indexLiA" href="/newPost">New Post</a></li>
    </div>
</ul>
