<% include partials/header %>
<h1>Welcome!</h1>
<div id="desc">
    <p>
    This is a simple blog platform that allows a user to post, amend and delete posts.<br>
    It runs on MongoDB and makes use of the NodeJs server to allow the blog to run.<br>
    Feel free to look round, and I hope you enjoy it!<br>
    Cheers, Luke
</p>
</div>
<% include partials/footer %>
